/* #Location h2
{
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}


#Location li
{
    list-style: disc;
    margin-left: 70px;
    padding-top: 4px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Location ul 
{
    margin-bottom: 20px;
} */


#mainH3
{
   margin: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
#hoursOpen
{
    margin: 40px;


    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
#mainLink
{
    margin-top: 20px;
    text-decoration: none;
  
    font-size: xx-large;
    background-color: black;
    color: whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    padding-left:60px ;
    padding-top: 25px;
}
#mainLink:hover
{
    background-color: cadetblue;
    color: black;
}

#main a
{
   text-decoration: none;

   color: whitesmoke;

font-size: xx-large;
background-color: black;
display: block;
margin-left: auto;
margin-right: auto;
width: 200px;
height: 60px;
border-radius: 20px;
padding-left:60px ;
padding-top: 25px;
}
#main a:hover
{
    background-color: cadetblue;
    color: black;
}


#main img
{
    border: solid 1px black;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}



#Tables table, td ,th
{
border :1px black solid ;
}
#Tables table 
{
    width: 1000px;
    border-collapse: collapse;
  
}
#Tables
{
    display: block;
    margin-top: 50px;
     margin-left: 280px;
  
}

#Tables td
{
    text-align: center;
    height: 20px;
    width: 100px;
    padding-top: 7px;
}

th
{
    width: 100px;
    height: 30px;
font-weight: bolder;
padding-top: 7px;

}

